@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: 'Titillium', Arial, Helvetica, sans-serif;
}

#grid {
    padding: 0 10vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh 200px 100vh 100px 100px 100vh 50px;
    grid-template-areas:
        "one one one one"
        "two two three three"
        "four four four four"
        "five five six six"
        "seven seven eight eight"
        "nine nine nine nine"
        "ten ten ten ten";
}

header {
    padding: 50px 0;
    text-align: center;
}

#about {
    grid-area: one;
    text-align: left;
    background-color: blue;
}

#about p {
    margin: 20px;
}

#about ul {
    margin-left: 40px;
}

#work {
    grid-area: four;
    text-align: left;
    background-color: red;
}

#work p {
    margin: 20px;
}

#projects {
    grid-area: nine;
    text-align: left;
    background-color: green;
}

#projects p {
    margin: 20px;
}

#contact {
    grid-area: ten;
    background-color: purple;
}