// animation for the moving background
@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0%;
    }
}

// animation for the logo
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}