@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0%;
    }
}

@keyframes spin {
    to {
        transform: rotate(180deg)
    }
}

body {
    text-align: center;
    font-family: 'Righteous', 'Titillium', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-image: url('../images/background-repeat.jpg');
    background-size: 50%;
    background-position: 0 0;
    animation: slide 20s linear infinite;
}

header {
    img {
        margin: 40px;
        width: 400px;
        height: 400px;
        animation: spin 4s;
        transition: all 2s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    h1 {
        font-size: 3rem;
    }

    h1 strong {
        font-size: 4rem;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #005445;
}

#grid {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 150px 50px;
    grid-template-areas:
        "one one two two three three"
        "four five six seven eight nine"
        "ten ten ten ten ten ten";
    text-align: left;
    grid-gap: 1em;
}

#about {
    grid-area: one;
    background-color: #EA005F;
    padding: 20px;
    color: #E4FF00;

    li {
        margin-left: 20px;
    }
}

#work {
    grid-area: two;
    background-color: #E4FF00;
    padding: 20px;
    color: #009E54;
}

#projects {
    grid-area: three;
    background-color: #009E54;
    padding: 20px;
    color: #EA005F;

    a {
        &:active {
            color: #E4FF00;
        }

        &:visited {
            color: #E4FF00;
        }
    }
}

#github {
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    grid-area: four;
    background-image: url('../images/github.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#linkedin {
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    grid-area: five;
    background-image: url('../images/linkedin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#html {
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    grid-area: six;
    background-image: url('../images/html.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#css {
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    grid-area: seven;
    background-image: url('../images/css.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ruby {
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    grid-area: eight;
    background-image: url('../images/ruby.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#python {
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    grid-area: nine;
    background-image: url('../images/python.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#contact {
    grid-area: ten;
    background-color: rgb(0, 88, 77);
    color: #E4FF00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}